C:\work\Python_Flask\
│
├── token.env              # Environment variables (Bot Token)
├── requirements.txt       # Dependencies
├── config.py              # Configuration & env loader
├── keyboards.py           # Telegram Inline Keyboards layout
├── tts_engine.py          # Text-to-Speech logic (gTTS)
└── main.py                # Bot setup, command handlers & main execution loop


python-telegram-bot
python-dotenv
gTTS